<!-- Clients Aside -->
<div class="container">
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img src="https://www.prodpad.com/wp-content/uploads/SuperAwesome-client-logo-prodpad.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img src="https://mvp.tribesgds.com/dyn/w3/km/w3kmt9gZQ8w/_/tIIyubfFgL0/cKED/wolf-and-badger-logo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img src="http://www.lovemyvouchers.co.uk/media/9173.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img src="https://dl.dropboxusercontent.com/u/5509632/What3Words.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
</div>